lightning==2.5.0.post0
omegaconf==2.3.0
torch==2.5.0
diffusers==0.30.0
transformers
jsonargparse[signatures]>=4.27.7
torchvision==0.20.0
timm
accelerate
gradio
einops
wandb
huggingface_hub[cli]>=0.34.0,<1.0

lpips
DISTS-pytorch
torchmetrics
pandas